@media screen and (max-width: 1750px) {
  .body_b .header .dock1 .navbar,
  .body_b .header .dock2 .navbar {
    width: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;
  }
  .body_b .header .nav_main {
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .body_b .header .nav_main a {
    margin: 0 20px;
  }
  .body_b .block {
    padding: 20px 40px;
  }
}
