/*全局属性*/
:root {
  //字体设置
  --font-size: 14px;
  --font-family: 微软雅黑, 黑体;
  //组件宽度
  --block-width: 1400px;
  //导航栏宽度
  --dock-width: 1350px;
  //字体色
  --color-a: #fff;
  --color-b: #000;
  //主题色
  --theme-color: #94070a;
}

//北大官网矢量字体文件
@font-face {
  font-family: impact;
  src: url("./fonts/impact.eot");
  src: url("./fonts/impact-1.eot") format("embedded-opentype"),
  url("./fonts/impact.woff") format("woff"),
  url("./fonts/impact.ttf") format("truetype"),
  url("./fonts/impact.svg") format("svg");
}

@font-face {
  font-family: icon;
  src: url("./fonts/iconfont.eot");
  src: url("./fonts/iconfont-1.eot") format("embedded-opentype"),
  url("./fonts/iconfont.woff") format("woff"),
  url("./fonts/iconfont.ttf") format("truetype"),
  url("./fonts/iconfont.svg") format("svg");
}

// 初始化CSS
* {
  padding: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
  list-style: none;
  font: var(--font-size) var(--font-family);
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
